*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3{
  
  text-indent: 20px;
}

h1{
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0px 5px 20px ;
}

h2,h3 {
  color: #2A2716;
  margin: 20px 0px 10px 20px;
}

.CV1{
  width: 800px;
  margin: 0 auto;
}

.top_section_photo1{
  width: 20%;
}

.info_top_section{
  margin: 20px;
  width: 70%;
  display: inline-block;
  vertical-align: top;
  text-align: left;}
  
.info_block>*>p{
  text-indent: 20px;
  margin-bottom: 5px;
  text-align: justify;
}